.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.env
server.*.log
data/
models/*
!models/.gitkeep
!models/**/
!models/**/*.onnx
!models/**/*.json
!models/**/*.yml
!models/**/*.pdparams
!models/**/*.pdiparams
examples/*.jpg
examples/*.jpeg
examples/*.png
