models/**/*.onnx filter=lfs diff=lfs merge=lfs -text
models/**/*.pdparams filter=lfs diff=lfs merge=lfs -text
models/**/*.pdiparams filter=lfs diff=lfs merge=lfs -text
offline/wheels/*.whl filter=lfs diff=lfs merge=lfs -text
offline/*.exe filter=lfs diff=lfs merge=lfs -text
